<h1>会員情報</h1>

<p>あなたのemailは、<%= @email_addres %>です</p>


<% if !@card.nil? %>
  <strong>カード情報</strong>
  <p>カード番号</p>
  <%= "**** **** **** " + @default_card_information.last4 %>
  <br>
  <p>年月日</p>
  <% exp_month = @default_card_information.exp_month.to_s %>
  <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
  <%= exp_month + " / " + exp_year %>

  <% if @user.premium == true %>
    <%= form_tag(action: :cancel, method: :post) do %>
      <button id="subscript_cancell">サブスクを解約する</button>
    <% end %>
  <% else %>
    <p>サブスク会員ではありません。</p>
    <P>サービスの利用にはサブスク会員である必要があります。サブスクを再開しますか？</p>
    <%= form_tag(action: :resume, method: :post) do %>
      <button>サブスクを再開する</button>
    <% end %>
  <% end %>
<% else %>
  カード情報がありません。カード情報の入力とサブスク決済の手続きを完了してください。
<% end %>

<script>
  $(document).on("ready turbolinks:load", function() {
    $("#subscript_cancell").on("click" ,function(){
      alert('本当に解約しますか？');
    });
  });
</script>
