<!DOCTYPE html>
<html>
  <head>
    <title>西澤式適性診断アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <%= link_to '西澤式適性診断アプリ', root_path, class: "header-logo" %>
        <div class="content-contact">
          <a href="https://www.sar-osaka.com/%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B" class="contact-btn"><i class="fa fa-envelope"></i><br>お問い合わせ<br>はコチラ</a>
        </div>
      </header>
      <main>
        <div class="recruitments">
          <div class="recruitments-title">適性診断</div>
          <form method="get" id="firstForm" class="choice">
            <div class="radio-question1">
              <div class="radio-column">
                <label><input type="radio" id="question1" name="question" value="1">兵器を揃える</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="question2" name="question" value="2" >自軍3000人のモチベーションを上げる</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="question3" name="question" value="3" >土地を活かした戦略を練る</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="question4" name="question" value="4" >逃げる</label><br>
              </div>
            </div>
            <div class="btn-choice">
              <button type="button" id="questionButton">次へ</button>
            </div>
          </form>

          <%# ここは普段はdisplay="none" %>
          <form action="show/" method="get" id="form1">
            <div class="radio-question2">
              <div class="radio-column">
                <label><input type="radio" id="answer1" name="answer" data-action="show/1">ミサイル</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="answer2" name="answer" data-action="show/2">細菌兵器</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="answer3" name="answer" data-action="show/3">何が使えそうか勉強</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="answer4" name="answer" data-action="show/4">竹槍みたいな入手し易い武器</label><br>
              </div>
            </div>
            <div class="btn-choice">
              <input type="submit" value="診断する" id="submit1">
            </div>
          </form>

          <%# ここは普段はdisplay="none" %>
          <form action="show/" method="get" id="form2">
            <div class="radio-question3">
              <div class="radio-column">
                <label><input type="radio" id="answer5" name="answer" data-action="show/5">食事を与える</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="answer6" name="answer" data-action="show/6">遺書を書かせて腹を括らせる</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="answer7" name="answer" data-action="show/7">成果報酬を共有する</label><br>
              </div>
              <div class="radio-column">
                <label><input type="radio" id="answer8" name="answer" data-action="show/8">自ら先人を切って引っ張る</label><br>
              </div>
            </div>
            <div class="btn-choice">
              <input type="submit" value="診断する" id="submit2">
            </div>
          </form>

          <%# ここは普段はdisplay="none" %>
          <%# ここにテキスト入力で回答してもらい、入力された回答を表示する。 %>
          <%# 回答にまでかかった時間を表示する。DBは使わず全部JSでやる。 %>
          <div id="form3">
            <label>どのように土地を活かす？</label>
            <p>
              <input type="text" id="form3input" placeholder="回答を入力してください"> 
            </p>
            <div class="btn-choice">
              <input type="button" value="診断する" id="form3submit">
            </div>
          </div>

          <%# ここは普段はdisplay="none" %>
          <div id="form3_answer">
            <label>あなたの回答:</label>
            <label id="answerText"></label>
              <label>回答にまでかかった時間は</label>
              <label id="answerTime"></label>
              <label>秒</label><br>
            <strong><%= link_to "トップページへ", root_path, class: "btn-choice" %></strong>
          </div>

          <%# ここは普段はdisplay="none" %>
          <div id="form4">
            <p>追加質問なし。ありがとうございました。</p>
            <strong><%= link_to "トップページへ", root_path, class: "btn-choice" %></strong>
          </div>
        </div>
      </main>
      <footer>
        <p>Copyright © 2020 S・A・R 株式会社 All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>