<!DOCTYPE html>
<html>
  <head>
    <title>西澤式適性診断アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <%= link_to '西澤式適性診断アプリ', root_path, class: "header-logo" %>
        <div class="content-contact">
          <a href="https://www.sar-osaka.com/%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B" class="contact-btn"><i class="fa fa-envelope"></i><br>お問い合わせ<br>はコチラ</a>
        </div>
      </header>
      <main>
        <div class="login">
          <div class="login-title">ログイン</div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field box-email">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field box-password">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field remember">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "ログインしたままにする" %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", :class=>"btn-color5" %>
            </div>
          <% end %>

          <div class="pass-loss">
            <%= link_to "パスワードを忘れた場合", new_user_password_path %>
          </div>

          <div class="signup-path">
            <p><span>------------</span> 新しいお客様ですか？ <span>------------</span></p>
            <%= link_to "アカウントを作成", new_user_registration_path %>
          </div>
        </div>
      </main>
      <footer>
        <p>Copyright © 2020 S・A・R 株式会社 All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
