<!DOCTYPE html>
<html>
  <head>
    <title>西澤式適性診断アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <%= link_to '西澤式適性診断アプリ', root_path, class: "header-logo" %>
        <div class="content-contact">
          <a href="https://www.sar-osaka.com/%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B" class="contact-btn"><i class="fa fa-envelope"></i><br>お問い合わせ<br>はコチラ</a>
        </div>
      </header>
      <main>
        <div class="card">
          <div class="card-title">クレジットード情報入力</div>
          <div class="card-column">月額1000円（税別）</div>
          <div class="card-column">※VISA、Mastercardのみ</div>
          <%= form_with model: @card, url: cards_path, local: true, html: { name: 'inputForm' } do |f| %>
            <div class="card-num">カード番号</div>
            <%= f.text_field :card_number, id: "card_number",class: "card_form1",maxlength: '16' %>
            <div class="card-lim">有効期限</div>
            <%= f.collection_select :exp_month , Month.all, :id, :name , {},class: "card-check-box",id: "exp_month" %>
            <%= f.collection_select :exp_year, Year.all, :id, :name, {}, class: "card-check-box",id: "exp_year"  %>
            <div class="card-cord">セキュリティコード</div>
            <%= f.password_field :cvc, id: 'cvc',class: "card_form2" ,maxlength: '6',autocomplete: "on" %>
            <div class="card-btn-column" id="card_token"></div>
            <%= f.submit '利用規約に同意し、決済する', id: 'token_submit',class: 'card-btn' %>
          <% end %>
        </div>
        <div class="content-under">
          <div class="content-privacy">
            <h1>西澤式適性診断アプリ利用規約</h1>
            <p>　</p>
            <p>　</p>
            <h2>第１条（西澤式適性診断アプリ）</h2>
            <p>西澤式適性診断アプリ（以下「適性診断アプリ」といいます。）とは、S・A・R株式会社（<a href="https://www.sar-osaka.com/" target="_blank">https://www.sar-osaka.com/</a>）（以下 「甲」といいます。）が、第２条に定める「西澤式適性診断アプリ受診者」に対しインターネット上で 実施する適性診断をいい、「西澤式適性診断アプリサービス」とは、適性診断アプリを 適性診断アプリ受診者に提供し診断を行うサービスの総称をいい、以下「本サービス」といいます。</p>
            <p>　</p>
            <h2>第２条（西澤式適性診断アプリ受診者）</h2>
            <p>西澤式適性診断アプリ受診者（以下「乙」といいます。）とは、甲の指定する方法に従い、「個人情報」（第９条の定義に従います。以下同じ）およびその他の情報を甲に登録（当該登録を以下「受診登録」といい、受診登録の際に乙が甲に提供する個人情報およびその他の情報を以下「登録情報」といいます。）し、甲が 適性診断アプリの受診を承認した者をいいます。乙は、西澤式適性診断アプリ（以下「本規約」といいます。）の内容をすべて承諾することによっ て本サービスを利用できるものとします。</p>
            <p>　</p>
            <h2>第３条（乙の責任）</h2>
            <p>1.乙は、自らの意思により受診登録するものとし、その際に甲が乙に通知する方法に従って本サービスを利用するものとします。</p>
            <p>2.乙は、自らの意思により本サービスを利用するものとします。</p>
            <p>3.登録情報および 適性診断の回答内容（以下「回答内容」といいます。）は、乙自らがその内容につき責任を負うものとします。</p>
            <p>　</p>
            <h2>第４条（本サービスの利用）</h2>
            <p>1.乙は甲から通知された URL、ID およびパスワードを使って本サービスにアクセスし、甲の指示に従って受診します。</p>
            <p>2.乙の適性診断の受診完了とともに、回答内容を所定の方法で分析して得られた結果 （以下「受診結果」といいます。）が甲に表示されます。</p>
            <p>　</p>
            <h2>第５条（本サービスの利用可能期間）</h2>
            <p>本サービスの利用可能期間は、甲が別途定める期間とします。乙は、本サービスの利用可能期間以外は本サービスを利用することはできません。</p>
            <p>　</p>
            <h2>第６条（乙の禁止事項）</h2>
            <p>乙は、本サービスの利用にあたり、以下の行為をしないものとします。</p>
            <p>（1）意図的に虚偽の情報を本サービスに登録する行為 </p>
            <p>（2）著作権、商標権、プライバシー権、氏名権、肖像権、名誉等の他人の権利を侵害する行為 </p>
            <p>（3）個人や団体を誹謗中傷する行為</p>
            <p>（4）法令、公序良俗に反する行為、またはそのおそれのある行為</p>
            <p>（5）本サービスの利用により乙が得た情報（適性診断の問題を含みますが、これに限られません。）を第三者へ提供する行為</p>
            <p>（6）本サービスの運営を妨げる行為、または甲の信頼を毀損する行為</p>
            <p>　</p>
            <h2>第７条（ID等の管理責任）</h2>
            <p>乙は、本サービスにアクセスするために必要なIDおよびパスワード（以下「ID等」といいます。）を厳重に管理する義務を負います。乙のID等の管理不十分による乙の損害に対し、甲は一切の責任を負いません。</p>
            <p>また、第三者がID等を用いて本サービスを利用した場合、甲は、当該利用を乙による利用とみなすことができます。</p>
            <p>　</p>
            <h2>第８条（情報の取扱い）</h2>
            <p>1.甲は、本規約とプライバシーポリシーに定める条件に基づき、乙の個人情報、回答内容および受診結果（甲が取得したこれらの情報を、 以下「各種情報」といいます。）を取り扱うものとし、乙はこれに同意します。</p>
            <p>2.情報管理責任者</p>
            <p>　甲が取得した各種情報は、甲が責任をもって管理するものとします。</p>
            <p>3.情報の安全対策</p>
            <p>　甲は、各種情報の漏洩などの防止に対して、合理的な安全対策を講じるものとします。</p>
            <p>4.各種情報の取得と利用目的および活用範囲について </p>
            <p>　甲は、適性診断の受診結果を得るために登録情報、回答内容を利用します。また受診結果は、採用選考時の参考データ、採用プロセスの見直しや入社後の人事管理の目的で利用されることがあります。</p>
            <p>5.登録情報を提供しなかった場合に生じる不利益について</p>
            <p>　適性診断の受診のために必要となる項目は、乙の個人情報の登録画面において「必須項目」として表示されています。この項目を入力しない場合は、適性診断を受診することはできません。また、入力が任意である項目については、当該項目を入力しなくても、適性診断を受診することができます。</p>
            <p>6.各種情報の第三者への開示</p>
            <p>　甲は、乙が提供した各種情報について、乙の同意を得ずに第三者に開示することは原則いたしません。ただし、以下の場合は、関係法令に反しない範囲において、乙の同意なく各種情報を開示することがあります。 </p>
            <p>　（1）乙が第三者に不利益を及ぼすと判断した場合</p>
            <p>　（2）裁判所、検察庁、警察、弁護士会またはこれらに準じた権限を有する機関から、個人情報についての開示を求められた場合</p>
            <p>　（3）その他、本サービスの提供に必要であると甲が合理的に判断した場合</p>
            <p>7.第三者の範囲</p>
            <p>　次の各号に掲げる場合において、乙が提供した各種情報の提供を受ける者は、本条の規定の適用については、第三者に該当しないものとします。したがって、この場合、甲は、乙 の同意なく各種情報を提供することができます。</p>
            <p>　（1）本規約に定める各種情報の利用目的の達成に必要な範囲内において、各種情報の取扱いの一部または全部を委託する場合</p>
            <p>　（2）甲の合併その他の事由による事業の承継に伴って各種情報を提供する場合</p>
            <p>8.統計データの利用</p>
            <p>　乙は、甲が取得した各種情報に基づいて、乙個人を特定できない形式による統計データを作成し、当該データにつき何らの制限なく利用・提供ができることに同意します。</p>
            <p>9.登録情報の開示、訂正</p>
            <p>甲は、乙から、登録情報の開示、訂正の要求を受けたときは、速やかにこれに応じるものとします。</p>
            <p>　</p>
            <h2>第９条（本サービスの利用停止）</h2>
            <p>甲は、乙が本規約に違反したと判断した場合、乙に対し事前に通知することなく、本サービスの一部または全部の利用を停止することができます。 </p>
            <p>　</p>
            <h2>第１０条（委託）</h2>
            <p>甲は、本サービスの一部または全部を第三者に委託できるものとします。この場合、甲は本規約上の甲と同等の義務を当該第三者に負わせ、甲自らも当該第三者の義務を連帯して負います。</p>
            <p>　</p>
            <h2>第１１条（本サービスの変更等）</h2>
            <p>甲は、乙への事前の通知なくして、本サービスの変更または一時的な中断を行うことがあります。 </p>
            <p>　</p>
            <h2>第１２条（甲の責任）</h2>
            <p>1.本サービスの利用によって乙が被った損害について、甲は、甲に過失がない限り責任を負わないものとします。また、甲が責任を負う場合であっても、その損害賠償の範囲は、甲に故意または重過失がある場合を除き、乙が被った直接かつ通常の損害に限られるものとします。</p>
            <p>2.回線の混雑や回線障害、または予測できないコンピュータのトラブル等により本サービスを一時的に利用できない場合、甲は一切の責任を負わないものとします。</p>
            <p>3.甲は、通常講ずるべきコンピュータウイルス対策では防止できないコンピュータウイルス 被害により乙に損害が生じた場合、一切責任を負わないものとします。甲は、コンピュータウイルスその他の不可抗力に起因して本サービスに関するデータが消去・変更されないことおよび本サービスの提供に不具合やエラーや障害が生じないことを保証するものではありません。</p>
            <p>　</p>
            <h2>第１３条（準拠法および管轄）</h2>
            <p>本サービスおよび本規約の準拠法は日本法とし、本サービスまたは本規約に関して生じる一切の紛争については、大阪地方裁判所または大阪簡易裁判所を第一審の専属的管轄裁判所とします。</p>
            <p>　</p>
          </div>
        </div>
      </main>
      <footer>
        <p>Copyright © 2020 S・A・R 株式会社 All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
